.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    width: 50%; /* Ancho del formulario */
    margin: 20px auto; /* Centrado en la página */
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8); /* Sombra sutil */
  }

.itm_producto {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    background-color: #f9f9f9; /* Un color de fondo claro */
    padding: 3px;
    border-radius: 8px;
    width: 80%; /* Ancho del formulario */
    margin: 3px auto; /* Centrado en la página */
    align-items: center;
  } 

.nombre {
    margin: initial;
}

.descripcion{
    text-align: start;
}

.precio {
  margin: initial;
  text-align: center;
}

.btnAgregar {
    width: 100%;
    padding: 12px 20px;
    background-color: #007bff; /* Un color de botón azul */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btnAgregar:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
  }

  