@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400..700&family=Pirata+One&display=swap');

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 60px;
  border-bottom: 1px solid #eee;
  /*width: 100%;*/
  background:bisque;
  top:0;
  position:sticky;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, system-ui;
}

.navbarContainer {
  flex-basis: 60%; 
  
  text-align: center;
}

.iconsContainer {
  flex-basis: 20%; 
  display: flex;
  justify-content: flex-end; 
  
}

.iconoDeCarrito {
  position: relative;
  cursor: pointer;
}

.contadorDeCarrito {
  position: absolute;
  top: -8px; 
  right: -10px; 
  background-color: rgb(11, 11, 11);
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
}

.icono {
  font-size: 24px;
  cursor: pointer;
  margin: 0;
}

.login {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 14px;
  border: none;
  background-color: transparent;
  outline: none;
  text-decoration: none;
  margin: 5px 20px  0px;
}