nav {
  display: grid;
/*  background-color: rgb(70, 197, 70);*/
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, 1fr);
}
 
.lista {
    display: grid;
    justify-content: center; 
    list-style: none; 
    padding: 0;
    margin: 0;
    text-align: start;
  }
  
.item {
  display: flex;
  flex-wrap: wrap;
  margin: 15px; 
  gap: 20px;
}

  
.link {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 20px;
  padding: 5px 0; 
  margin: 0 10px;
}

.link:hover {
  color: whitesmoke; 
}

