nav {
  background-color: #F5B027;
}

.lista {
    display: flex; 
    justify-content: center; 
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .item {
    margin: 15px; 
  }
  
  .link {
    text-decoration: none;
    color: #555;
    font-size: 20px;
    padding: 5px 0; 
    margin: 0 10px;
  }
  
  .link:hover {
    color: #000; 
    border-bottom: 2px solid #0d0d0d; 
  }