.encabezado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    padding-left: 20px;
   
}

