.productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
    gap: 20px; /* Adjust the space between items */
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

.productosItems{
    /*border: #36C9C6 3px solid;*/
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes the button to the bottom */
}

.botonAgregar {
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: 600; 
    text-transform: uppercase; 
    letter-spacing: 0.5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

.botonAgregar:hover {
    background-color: #0056b3; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
    transform: translateY(-2px); 
}