@import "tailwindcss";

:root {
  font-family: "Fira Sans Condensed", sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.fira-sans-condensed-regular {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-condensed-medium {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-condensed-semibold {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-condensed-regular-italic {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-condensed-medium-italic {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-condensed-semibold-italic {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}


a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: whitesmoke;
}

body {
  margin: 0;
  display: contents;
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: blue;
  cursor: pointer;
  transition: border-color 0.25s;
  color:whitesmoke;
}
button:hover {
  border-color: whitesmoke;
  color: rgb(160, 241, 160);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

a:hover {
  color: black;
}

}
